# Database
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/coffeepos

# Server
PORT=3001
NODE_ENV=production

# JWT Secret
JWT_SECRET=tu_jwt_secret_super_seguro_aqui

# License Secret Key (para firmas digitales de licencias)
LICENSE_SECRET_KEY=tu_license_secret_key_super_seguro_aqui

# Cloudinary (para almacenamiento de imágenes)
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# CORS (Reemplaza con tu URL de Vercel)
FRONTEND_URL=https://coffe-pos-web-frontend.vercel.app/
